@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    margin: 0;
    background-color:#1CABE2;
    font-family: Arial, Helvetica, sans-serif;
}


/* Start Title */
    .header {
    padding: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }

    .title-image {
    max-width: auto;
    text-align: center;
    }

    .hero {
    padding: 60px 45px;
    display: flex;
    justify-content: center;
    }
  
    .hero-inner {
    max-width: 760px;
    text-align: left;
    color: #303137;
    font-family: 'Roboto Slab', serif;
    
    }

    .hero-inner h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 50px;
    }
/* End Title */

section {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1CABE2;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

/* Start Images 1-10 */

.left-a {
  width: 70%;
  height: 300px;
  background: url(images/Water01.jpg)
    no-repeat center / cover;
  border-radius: 8px;
}

.left-b {
    width: 70%;
    height: 300px;
    background: url(images/Water02.jpg)
      no-repeat center / cover;
    border-radius: 8px;
}


.left-c {
    width: 70%;
    height: 300px;
    background: url(images/Water03.jpg)
      no-repeat center / cover;
    border-radius: 8px;
} 

.left-d {
    width: 70%;
    height: 300px;
    background: url(images/Water04.jpg)
      no-repeat center / cover;
    border-radius: 8px;
} 

.left-e {
    width: 70%;
    height: 300px;
    background: url(images/Water05.jpg)
      no-repeat center / cover;
    border-radius: 8px;
} 

.left-f {
    width: 70%;
    height: 300px;
    background: url(images/Water06.jpg)
      no-repeat center / cover;
    border-radius: 8px;
}

.left-g {
    width: 70%;
    height: 300px;
    background: url(images/Water07.jpg)
      no-repeat center / cover;
    border-radius: 8px;
}

.left-h {
    width: 70%;
    height: 300px;
    background: url(images/Water08.jpg)
      no-repeat center / cover;
    border-radius: 8px;
} 

.left-i {
    width: 70%;
    height: 300px;
    background: url(images/Water09.jpg)
      no-repeat center / cover;
    border-radius: 8px;
}

.left-j {
    width: 70%;
    height: 300px;
    background: url(images/Water10.jpg)
      no-repeat center / cover;
    border-radius: 8px;
} 

/* End Images 1-10 */

.right {
  width: 50%;
  min-height: 200px;
  background-color: #303137;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}

.right h1 {
    font-family: monoton;
    font-size: 3rem;
    font-weight: normal;
    color:#ffffff;
}


.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}


.footer {
  text-align: center;
  padding: 20px 0;
  color: #303137;
  font-size: .9rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 20px 20px;
  }
  .left {
    width: 100%;
    height: 300px;
  }
  .right {
    width: 70%;
    margin: 0;
    margin-top: -100px;
  }
}

